<footer class="footer">
© 2023 XDEV Software GmbH. All rights reserved.
&nbsp;
&nbsp;
&nbsp;
<a href="https://rapidclipse.com/en/terms-of-use">Terms of use</a>
<span class="link-separator">&nbsp;&#124;&nbsp;</span>
<a href="https://rapidclipse.com/en/privacy-policy">Privacy</a>
<span class="link-separator">&nbsp;&#124;&nbsp;</span>
<a href="https://rapidclipse.com/en/legal-notice">Legal notice</a>
</footer>